{alias, [
    {check, [
        {fmt, "-c"},
        xref,
        dialyzer,
        gradualizer,
        {proper, "-c"},
        {eunit, "-c"},
        {ct, "-c"},
        {cover, "-v"}
    ]}
]}.

{cover_export_enabled, true}.

{deps, []}.

{erlfmt, [
    {files, ["{src,include,test}/**/*.{hrl,erl}"]},
    {exclude_files, []}
]}.

{erl_opts, [
    debug_info,
    warn_as_errors
]}.

{gradualizer_opts, [
    {i, "include"},
    print_file,
    % verbose,
    % stop_on_first_error,
    {include, [
        "src/*.erl"
    ]},
    {exclude, []}
]}.

{plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {tag, "v1.0.0"}}},
    {gradualizer,
        {git, "https://github.com/josefs/Gradualizer.git",
            {ref, "e226803c023bf9ceb94dfb517068208af37b9d7f"}}},
    {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.12.1"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
            {proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.4"}}},
            {unite, {git, "https://github.com/eproxus/unite.git", {tag, "0.3.1"}}}
        ]},
        {erl_opts, [export_all, nowarn_export_all, debug_info]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.

{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    locals_not_used,
    undefined_function_calls
]}.

{xref_ignores, []}.
